@import url(
"https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    font-family: "Poppins", sans-serif;
}

:root {
	--primary-color: #3E7CB1;
	--secondary-color: #054A91;
	--tertiary-color: #81A4CD;
	--accent-color: #DBE4EE;
  }


.navbar {
	background-color: var(--primary-color);
	color: #fff;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2000;
}
  
.navbar-container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right:5%;
    padding-left: 5%;
}

.logo {
	padding:1px;
	
}
.logo a {
	color: #fff;
	text-decoration: none;
	padding:0;
  }
.logo img {
	padding-top:10px;
	height:5%;
	width:5%;
}
  
.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s, border-bottom 0.3s;
}

/* underline for active page */
.nav-links a.active {
    border-bottom: 2px solid white;
}

.nav-links a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--accent-color);
}

/* User picture related css */
.user-pic-container {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}

.user-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.user-dropdown {
    position: relative;
    display: flex;
    align-items: center;
}

.user-btn {
    background-color: transparent;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.user-btn span {
    margin-right: 2px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show dropdown content when hovering over the user button */
.user-dropdown:hover .dropdown-content {
    display: block;
}