@import url(
"https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

:root {
	--primary-color: #3E7CB1;
	--secondary-color: #054A91;
	--tertiary-color: #81A4CD;
	--accent-color: #DBE4EE;
  }

body {
	height: 100%;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	overflow:hidden;
	background-color: var(--accent-color);
}

header {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 8px;
	padding: 10px;
}

.content {
	justify-content: center;
	align-items: center;
	display: flex;
	flex: 1 0 100%;
	flex-direction: column;
}

.content-container {
	width: 100%;
	overflow:hidden;
	display: inherit;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top:20px;
	margin-top:20px;
}

.heading {
	color: var(--secondary-color);
}

.title {
	font-weight: 400;
	letter-spacing: 1.5px;
}

.container {
	margin-top:25px;
	height: 500px;
	width: 450px;
	justify-content: center;
	align-items: center;
	background-color: white;
	border-radius: 2%;
	position: relative;
	overflow: hidden;
	transition: all 0.5s ease-in-out;
}

.slidebtn {
	height: 60px;
	width: 300px;
	margin: 20px auto;
	box-shadow: 10px 10px 30px var(--accent-color);
	border-radius: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.button {
	height: 60px;
	width: 400px;
	border-radius: 50px;
	background-image: linear-gradient(to right,
    var(--tertiary-color),
    var(--accent-color));
	font-size: 22px;
	border: none;
	cursor: pointer;
	margin-top:-10px;
  }

.login,
.register {
	font-size: 22px;
	border: none;
	outline: none;
	background-color: transparent;
	position: relative;
	cursor: pointer;
}

.slider {
	height: 60px;
	width: 150px;
	border-radius: 50px;
	background-image: linear-gradient(to right,
			var(--tertiary-color),
			var(--accent-color));
	position: absolute;
	top: 20px;
	left: 75px;
	transition: all 0.5s ease-in-out;
}

.moveslider {
	left: 225px;
	background-image: linear-gradient(to left,
	var(--tertiary-color),
	var(--accent-color));
}

.form-section {
  max-width: 100%;
  text-align: center;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 20px;
  overflow: hidden;
}

.login-box {
	margin-top: 10%;
}
.login-box,
.register-box {
	transition: all 0.5s ease-in-out;
}

.ele {
	height: 60px;
	width: 400px;
	outline: none;
	border: none;
	color: rgb(77, 77, 77);
	background-color: rgb(240, 240, 240);
	border-radius: 50px;
	padding-left: 30px;
	font-size: 18px;
	margin-top:1%;
	margin-bottom:1%;
}

.toggle-password-login {
  position: relative;
  top: -40px;
  right: -180px;
  transform: translateY(-50%);
  cursor: pointer;
}

.toggle-password-register {
  position: relative;
  top: -40px;
  right: -180px;
  transform: translateY(-50%);
  cursor: pointer;
}

#field-container {
	height: 500px;
}

#loginForm {
    position: relative;
    left: 0px;
}


#loginButton,
#loginName,
#loginPassword {
  position: relative;
}

#signupForm {
  position: relative;
  left: 500px;
  top: -265px;
}


/* For Responsiveness of the page */

@media screen and (max-width: 650px) {
	.container {
		height: 600px;
		width: 300px;
	}

	.title {
		font-size: 15px;
	}

	.btn {
		height: 50px;
		width: 200px;
		margin: 20px auto;
	}

	.login,
	.signup {
		font-size: 19px;
	}

	.slider {
		height: 50px;
		width: 100px;
		left: 50px;
	}

	.moveslider {
		left: 150px;
	}

	.form-section {
		height: 500px;
		width: 600px;
	}

	.form-section-move {
		left: -300px;
	}

	.login-box,
	.register-box {
		height: 100%;
		width: 300px;
	}

	.ele {
		height: 50px;
		width: 250px;
		font-size: 15px;

	}
	.image-box
  {
    border: 1px solid red;
    flex: 1 0 35%;
    margin-top:5%;
    height:400px;
    overflow:hidden;
  }

	.clkbtn {
		height: 50px;
		width: 130px;
		font-size: 19px;
	}
}

@media screen and (max-width: 320px) {
	.container {
		height: 600px;
		width: 250px;
	}

	.heading {
		font-size: 30px;
	}

	.title {
		font-size: 10px;
	}

	.btn {
		height: 50px;
		width: 200px;
		margin: 20px auto;
	}

	.login,
	.register {
		font-size: 19px;
	}

	.moveslider {
		left: 127px;
	}

	.form-section {
		height: 500px;
		width: 500px;
	}

	.form-section-move {
		left: -250px;
	}

	.login-box,
	.register-box {
		height: 100%;
		width: 250px;
	}

	.ele {
		height: 50px;
		width: 220px;
		font-size: 15px;
	}

	.clkbtn {
		height: 50px;
		width: 130px;
		font-size: 19px;
	}
}